div#corpoCurriculo{
    margin-left: 50px;
}

.areaImagem{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.areaImagem img{
    width: 100px;
    height: 100px;
}

hr{
    width: 600px;
    float: left;
}

.corpo{
    margin: 10px;   
}

